* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
    
}

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #f08040;
    text-decoration: none;

}
button{
    cursor: pointer;
}
input,
button{
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
}
input:hover,
button:hover{
    border: 0.1rem #404040 solid;
}
button.primary{
    background-color: #f0c040;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}


header {
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

header  a {
    color: #ffffff;
    font-weight: bold; /*for all header link */
    text-decoration: none;

}

/* header a:hover{ 
    color: #f08040; 
    text-decoration: none;

} */

.brand a{
    font-size: 3rem;
}

footer{
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
input{
    width: 500px;
    height: 30px;
    margin-bottom: 0px;
    
}
i{
    font-size: 15px;
    height: 20px;
}
.productS{
    display: flex;
    flex-direction: column; /*here we setting flex direction coloumn*/
    justify-content: space-around;/*it just create a space between image,price,title,brand*/
    height: 100%;
}
    .card{
        border: none;
    }
    .card-img{
        height: 250px;
        width: 200px;
    }
    .card-title{
        font-weight: bold;
    }
